# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
override.tf
override.tf.json
_override.tf
_override.tf.json
.terraform.lock.hcl
.terraform.tfstate.lock.info

# Tekton Secrets
tekton-setup/secrets.yaml

# Temporary Files
patch.yaml
input.txt
output.txt
harbor-values.yaml
