apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: todo-microservices-app
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/thanhtai2703/Deploy-Application-to-AWS-EKS.git
    targetRevision: HEAD
    path: K8s
  destination:
    server: https://kubernetes.default.svc
    namespace: default
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
