apiVersion: apps/v1
kind: Deployment
metadata:
  name: todo-service
  namespace: prod
spec:
  replicas: 2
  selector:
    matchLabels:
      app: todo-service
  template:
    metadata:
      labels:
        app: todo-service
      annotations:
        prometheus.io/scrape: "true"
        prometheus.io/path: "/todos/actuator/prometheus"
        prometheus.io/port: "8080"
    spec:
      affinity:
        nodeAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
            - weight: 100
              preference:
                matchExpressions:
                  - key: role
                    operator: In
                    values:
                      - app
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
            - weight: 100
              podAffinityTerm:
                labelSelector:
                  matchExpressions:
                    - key: app
                      operator: In
                      values:
                        - todo-service
                topologyKey: "kubernetes.io/hostname"
      containers:
        - name: todo-service
          image: k8s-harbor-harbor-e23646dd89-000fac67939de240.elb.us-east-1.amazonaws.com/prod/todo-service@sha256:8d3979082f4ad3488b338a8f4b7e3f7035382ee64011a840b4cafab83ab63d22
          imagePullPolicy: Always
          ports:
            - containerPort: 8080
          env:
            - name: SPRING_DATASOURCE_URL
              value: "jdbc:postgresql://postgres-service.databases:5432/todo_db"
            - name: SPRING_DATASOURCE_USERNAME
              value: "postgres" # Or use secret from 'prod' namespace if we copy it
            - name: SPRING_DATASOURCE_PASSWORD
              value: "password123"
            - name: SPRING_JPA_HIBERNATE_DDL_AUTO
              value: "update"
          resources:
            requests:
              memory: "256Mi"
              cpu: "100m"
            limits:
              memory: "512Mi"
              cpu: "500m"
          readinessProbe:
            httpGet:
              path: /todos/actuator/health
              port: 8080
            initialDelaySeconds: 30
            periodSeconds: 10
---
apiVersion: v1
kind: Service
metadata:
  name: todo-service
  namespace: prod
spec:
  type: ClusterIP
  selector:
    app: todo-service
  ports:
    - port: 8080
      targetPort: 8080
