expose:
  type: loadBalancer
  tls:
    enabled: false
  service:
    annotations:
      service.beta.kubernetes.io/aws-load-balancer-scheme: "internet-facing"

externalURL: http://k8s-harbor-harbor-e23646dd89-000fac67939de240.elb.us-east-1.amazonaws.com

harborAdminPassword: "Harbor12345"
